/* --------- This is CSS Reset Code --------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

.App {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px 75px;
	background-color: rgb(217, 108, 25);
	color: white;
}

header * {
	font-size: 24px;
	color: white;
}

nav {
	display: flex;
	gap: 20px;
}

button {
	background-color: transparent;
	border: none;
}

button:hover {
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 25px 100px;
	background-color: rgb(63, 72, 81);
}

.socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.social-title {
	font-size: 20px;
	color: white;
}

.icons {
	display: flex;
	gap: 10px;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #568a8a;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

h3 {
	color: white;
}

#ad-banner {
	display: flex;
	justify-content: center;
	background-color: black;
	background-image: linear-gradient(
			190deg,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url('./assets/salmon.jpg');
	background-size: 80% 130%;
	background-repeat: no-repeat;
	background-position: center;
}

#banner-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 90px 0px;
	font-size: 20px;
	width: 710px;
	text-align: center;
}

#banner-title {
	font-size: 60px;
	color: rgb(217, 108, 25);
	font-weight: bold;
}

.blue-btn {
	background-color: #568a8a;
	color: white;
	padding: 10px;
	font-size: 16px;
}

.recipe-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	font-size: 20px;
	box-shadow: 0.2px 0.2px 1px 1px silver;
}

img {
	height: 350px;
	width: 350px;
}

#recipe-container {
	display: flex;
	flex-wrap: wrap;
	padding: 100px;
	justify-content: center;
	gap: 40px;
	text-align: center;
}

.recipe-btn {
	background-color: #568a8a;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	margin: 15px 0px;
}
